<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    {{>_navbar}}
    {{#if error}}
            <div <!--class="alert alert-danger alert-dismissible fade show" role="alert"-->>
                {{error}}
                <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            </div>
        {{else}}
        {{/if}}
    {{>_msg}}
    {{{body}}}
</body>
</html>