<head>    
    <title> Criando seu portifóleo - Emprega + Tag</title>
</head>
    
<!-- Navegador -->
<section>

    <!-- Textos -->

    <div class="conteudo-texto">

        <p>Bem-Vindos</p>
        <P>EMPREGA +</P>
        <p>Oportunidade de emprego de forma fácil e prática.</p>

        <button class="btn1">Saiba mais</button>

        <!-- Isso aqui é um exemplo, porém, recomenda deixar desta mesma forma -->

        <p>Pesquise por vagas de acordo com seu cargo: </p>
        <form action="/vagas/pesquisar-vagas" method="post">
            <input type="text" name="campo" placeholder="Informe um cargos ou profissão">
            <button type="submit">Pesquisar</button>
        </form>

        <p>Pesquise por usuários de acordo com seu nome: </p>
        <form action="/usuarios/pesquisar/nome" method="post">
            <input type="text" name="campo" placeholder="Informe um nome">
            <button type="submit">Pesquisar</button>
        </form>
            
    </div>

    <!-- Carregando img de fundo-->

    <div>
            
        <img src="img/empresario.png" class="imgbg" alt="imgbg">

    </div>



</section>
        
<!-- Conteúdos -->

<div class="conteudo-sobre">
            
    <img src="img/img2.png">
    <div class="texto-sobre">

        <p>Sobre</p>
        <p>Garante já o seu emprego!</p>

        <p>Olá, o Emprega + foi criado com a intenção de promover mais oportuninades de trabalho, de forma fácil e rápida. E o melhor, apresenta uma diversidade enorme para setores que desejam atuar</p>

        <button class="btn1">Saiba mais</button>
    </div>
</div>

