<title>Faça seu cadastro!</title>

<div></div>
<h1>Cadastre-se: </h1>
<form action="/usuarios/cadastro" method="post"><br><br>
    <input type="text" name="nome" placeholder="nome"><br><br>
    <input type="text" name="email" placeholder="email"><br><br>
    <input type="password" name="senha" placeholder="senha"><br><br>
    <input type="text" name="localizacao" placeholder="localizacao"><br><br>
    <input type="text" name="telefone" placeholder="telefone"><br><br>
    <input type="date" name="data_nasc" placeholder="data de nascimento"><br><br>
    <button type="submit">Cadastrar</button>
</form>
